@font-face{
    font-family: 'SN Pro';
    src: url('../fonts/SNPro-VariableFont_wght.ttf');
    font-weight: 400 ;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'SN Pro', sans-serif;
    font-size: medium;
}



a{
    text-decoration: none;
    color: black;
}