@use 'variables';


@mixin btn {
    background-color: variables.$color-lila;
    color: variables.$color-blanco;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;

     &:hover {
        background-color: variables.$color-lila-oscuro;
    }
}

@mixin card {
    background-color: variables.$color-blanco;
    border-top: 4px solid variables.$color-lila;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    h3 {
        color: variables.$color-gris-oscuro;
    }
}

@mixin hero($imagen) {
    background-image: url($imagen);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: variables.$color-blanco;
    position: relative;

    .hero-fondo{
        background-color: rgba(152, 152, 152, 0.123);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        display: flex;
        inset: 0;
    }
}