@use "variables";

@use "mixins";
@use "base";

.hero-nosotros{
    @include mixins.hero('../images/fondo-nosotros.png');
}

.hero-explain{

    background-color: variables.$color-blanco;
    padding: 40px;
    text-align: center;

    h2 {
        color: variables.$color-lila;
        margin-bottom: 20px;
    }

    p {
        color: variables.$color-gris-oscuro;
        font-size: 18px;
        line-height: 1.6;
    }
}

.nosotros-logros {
    background-color: variables.$color-blanco;
    padding: 45px;
    display: flex;
    justify-content: space-around;
    text-align: center;

     ol{
            list-style-position: inside;
            text-align: left;
        

    .logro {
        width: 100%;

        h3 {
            color: variables.$color-lila;
            margin-bottom: 10px;
        }

        p {
            color: variables.$color-gris-oscuro;
            font-size: 16px;
           
            
        }
       
    }

        }
}
.habilidades{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-inline: 20px;
    display: flex;
   
    justify-content: space-around;
.barra-contenedor {
background-color: white;
    width: 100%;
     border: 1px solid #C3C3C3;
padding: auto;
    margin: 20px;


.barra-relleno{
    background-color: variables.$color-lila;
    height: 50px;
    width: 80%;}
}}

 .logo{
    width: 50px;
    height: auto;
}

.titulo-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.titulo{
    color: variables.$color-lila;
    font-size: 24px;
    margin-bottom: 20px;
    align-self: center;
}

.habilidades-contenedor{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  .grafica-habilidades{
    width: 50%;
  }
    .descripcion-habilidades{
        width: 50%;
        padding-left: 20px;
        .titulo{
            color: variables.$color-lila;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p{
            color: variables.$color-gris-oscuro;
            font-size: 16px;
            line-height: 1.6;
        }
    }

}