@use 'variables';
@use 'base';
@use 'mixins';


.proyecto-image {
    width: 100%;
    height: auto;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    
    h1 {
        grid-column: span 2;
        text-align: center;
        color: variables.$color-lila;
    }

    
}

.proyectos-title {
    font-size: 3rem;
    color: variables.$color-lila;
}

.proyecto-card {
  
  
   @extend %card-base;

    h2 {
        color: variables.$color-gris-oscuro;
    }

   
}