@use 'variables';

.proyecto-image {
    width: 100%;
    height: auto;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    
    h1 {
        grid-column: span 2;
        text-align: center;
        color: variables.$color-lila;
    }

    
}

.proyectos-title {
    font-size: 3rem;
    color: variables.$color-lila;
}

.proyecto-card {
    background-color: variables.$color-blanco;
    border-top: 4px solid variables.$color-lila;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    h2 {
        color: variables.$color-gris-oscuro;
    }

    p {
        color: variables.$color-gris-oscuro;
        font-size: 14px;
    }
}