@use "variables";

@use "mixins";

.hero{
    background-image: url('../images/fondo-section.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: variables.$color-blanco;
    position: relative;
}

.hero-fondo{
    background-color: rgba(152, 152, 152, 0.123);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    inset: 0;
}

h2{
    text-align: center;
    margin: 40px 0;
    color: variables.$color-lila;
}

.conoce-proyectos{
    text-align: center;
    margin: 40px 0;
}

.btn {
    @include mixins.btn;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    
}